* {
  box-sizing: border-box;
}

body{
  background-image: url(https://s3.eu-west-2.amazonaws.com/cynic.game.images/Pattern.png);
  background-repeat: repeat;
  background-size: 10%;
}

.splashscreen {
  background-image: url(https://s3.eu-west-2.amazonaws.com/cynic.game.images/Splashscreen.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
  height: 590px;
  width: 1000px;
  z-index: 100;
  position: absolute;
  top: 0;


}

.splashtext {
  position: absolute;
  top: 70%;
  left: 40%;
  font-size: 30px;
}

.version {
  font-size: 50px;
  position: absolute;
  top: 60%;
  left: 75%;
}
.startButton {
  position: absolute;
  top: 70%;
  left: 40%;
  height: 45px;
  width: 150px;
  font-size: 30px;
  background-color: white;
  border: 3px solid black;
}

.gamecontainer {
  height: 590px;
  width: 1000px;
  display: flex;
  justify-content: center;
  margin: auto;
}

.gamefield {
  background-size: 100%;
  background-repeat: no-repeat;
  height: 590px;
  width: 1000px;
  position: relative;
}

.back {
  width: 100%;
  height:100%;
  background-size: 100%;
  position: absolute;
  top: 0;
  z-index: 4;
}

.controlPanel {
  height: 90%;
  width: 30%;
  background-color: white;
  border: 5px solid black;
  position: absolute;
  top: 5%;
  right: 3%;
  z-index: 7;
}

.openShade {
  display: block;
  height: 495px;
  width:100%;
  background-color: rgba(0, 0, 0, .7);
  position: absolute;
}

.closeShade {
  display: none;
}

.hideDropdown {
  display: none;
}
.hideBgDropdown {
  display: none;
}

.openDropdown {
  width: 100%;
  display: block;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  transition: all 2s ease-in;
}
.openBgDropdown {
  display: block;
  position: absolute;
  min-width: 160px;
  z-index: 8;
  transition: all 2s ease-in;
  height: 300px;
  overflow: scroll;
  bottom: 30px;


}

.BkgrButtons {
  display: flex;
  justify-content: space-between;

}

.chooseBkgrButton {
  z-index: 8;
  height: 25px;
  margin: 0 5px 0 5px;
  border: 3px solid black;
  height: 30px;
}
.chooseBkgr {
  position: absolute;
  z-index: 8;
  bottom: 28px;
  left: 370px;
  display: flex;

}

.openDropdown a {
  width: 100%;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
  border: 0.2px solid black;
}
.openDropdown a:hover{
  background-color: #d3d3d366;
}

.dropbtn {
  width: 100%;
  height: 30px;
  background-color: white;
  border: 0;
  border-bottom: 2px  solid black;
  color: black;
  padding: 0;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropbtn:hover {
  background-color: #d3d3d366;
}

.dropbtnBg{
  width: 150px;
  height: 30px;
  background-color: white;
  border: 0;
  color: black;
  padding: 0;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid black;
  z-index: 50;
}

.dropbtnBg:hover {
  background-color: #d3d3d3;
}

.extradropbtn {
  width: calc(100%/3);
  height: 30px;
  background-color: white;
  border: 0;
  border-bottom: 2px  solid black;
  color: black;
  padding: 0;
  font-size: 14px;
  cursor: pointer;

}

.extradropbtn:nth-child(2) {
  border-right: 2px  solid black;
  border-left: 2px  solid black;
}

.extradropbtnActive:nth-child(2) {
  border-right: 2px  solid black;
  border-left: 2px  solid black;
}

.dropbtn:focus {
  outline:none;
}
.dropbtnBg:focus {
  outline:none;
}
.extradropbtn:focus {
  outline:none;
}

.extradropbtn:hover {
  background-color: #d3d3d366;
}
.extradropbtnActive {
  background-color: lightgrey;
  width: calc(100%/3);
  height: 30px;
  border: 0;
  border-bottom: 2px  solid black;
  color: black;
  padding: 0;
  font-size: 14px;
  cursor: pointer;
}
.extradropbtnActive:focus {
  outline:none;
}

.dropdown {
  width: 100%;
  position: relative;
  display: inline-block;
}



.showTab {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;

}

.hideTab {
  display: none;
}

.tab {
  height: 94.5%;
  overflow: scroll;


}

.buttonsContainer {
  display: flex;
  flex-wrap: wrap;
  padding: 0 15px 15px 15px;
}

.faceBtns {
  width: 100%;
}

.eyesButton {
  width: 70px;
  height: 70px;
  background-size: 500%;
  background-position: -123px -97px;
  background-color: white;
  border: 3px solid black;
  margin: 8px;
  cursor: pointer;
}

.browsButton {
  width: 70px;
  height: 70px;
  background-size: 500%;
  background-position: -123px -85px;
  background-color: white;
  border: 3px solid black;
  margin: 8px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clear {
  font-size: 40px !important;
}

.mouthButton {
  width: 70px;
  height: 70px;
  background-size: 550%;
  background-position: -135px -145px;
  background-color: white;
  border: 3px solid black;
  margin: 8px;
  cursor: pointer;
}
.handsButton {
  width: 70px;
  height: 70px;
  background-size: 190%;
  background-position: -145px -45px;
  background-color: white;
  border: 3px solid black;
  margin: 8px;
  cursor: pointer;
}
.legsButton {
  width: 70px;
  height: 70px;
  background-size: 190%;
  background-position: -145px -80px;
  background-color: white;
  border: 3px solid black;
  margin: 8px;
  cursor: pointer;
}
.clothesButton {
  width: 70px;
  height: 90px;
  background-size: 170%;
  background-position: -127px -40px;
  background-color: white;
  border: 3px solid black;
  margin: 8px;
  cursor: pointer;
}
.boobsButton {
  width: 70px;
  height: 70px;
  background-size: 250%;
  background-position: -200px -70px;
  background-color: white;
  border: 3px solid black;
  margin: 8px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hairButton {
  width: 70px;
  height: 70px;
  background-size:280%;
  background-position: -53px -45px;
  background-color: white;
  border: 3px solid black;
  margin: 8px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bodyContainer{

  width: 400px;
  height: 550px;
  top: 40px;
  left: 80px;
  position: relative;
}

.clothes {
  width: 100%;
  height: 100%;
  background-size: 400px 515px;
  background-image: url(https://s3.eu-west-2.amazonaws.com/cynic.game.images/Clothes_12.png);
  position: absolute;
  top: 0;
  left: 0;
  background-position: center;
  background-repeat: no-repeat;
}
.legs {
  width: 100%;
  height: 100%;
  background-size: 400px 515px;
  background-image: url(https://s3.eu-west-2.amazonaws.com/cynic.game.images/Legs1_0.png);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-position: center;
}
.hands {
  width: 100%;
  height: 100%;
  background-size: 400px 515px;
  background-image: url(https://s3.eu-west-2.amazonaws.com/cynic.game.images/Hands1.png);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background-position: center;
}
.head {
  width: 100%;
  height: 100%;
  background-size: 400px 515px;
  background-image: url(https://s3.eu-west-2.amazonaws.com/cynic.game.images/Head1.png);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  background-position: center;
}
.hair {
  width: 100%;
  height: 100%;
  background-size: 400px 515px;
  background-image: url(https://s3.eu-west-2.amazonaws.com/cynic.game.images/Head1.png);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
  background-position: center;
}
.eyes {
  width: 100%;
  height: 100%;
  background-size: 400px 515px;
  z-index: 4;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.2s linear;
  background-position: center;
}
.mouth {
  width: 100%;
  height: 100%;
  background-size: 400px 515px;
  z-index: 4;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.2s linear;
  background-position: center;
}
.brows {
  width: 100%;
  height: 100%;
  background-size: 400px 515px;
  z-index: 4;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.2s linear;
  background-position: center;
}
.hat {
  width: 100%;
  height: 100%;
  background-size: 400px 515px;
  z-index: 5;
  position: absolute;
  top: 0;
  left: 0;
  background-position: center;
}
.mask {
  width: 100%;
  height: 100%;
  background-size: 400px 515px;
  z-index: 3;
  position: absolute;
  top: 0;
  left: 0;
  background-position: center;
}
.beard {
  width: 100%;
  height: 100%;
  background-size: 400px 515px;
  z-index: 3;
  position: absolute;
  top: 0;
  left: 0;
  background-position: center;
}
.boobs {
  width: 100%;
  height: 100%;
  background-size: 400px 515px;
  z-index: 5;
  position: absolute;
  top: 0;
  left: 0;
  background-position: center;
}
.glasses {
  width: 100%;
  height: 100%;
  background-size: 400px 515px;
  z-index: 5;
  position: absolute;
  top: 0;
  left: 0;
  background-position: center;
}
.pointer {
  width: 70px;
  height: 40px;
  top: 17%;
  left: 28%;
  background-size: 45px 70px;
  background-repeat: no-repeat;
  background-image: url(https://s3.eu-west-2.amazonaws.com/cynic.game.images/TextPointer.png);
  position: absolute;
}

.characterText {
  width: 300px;
  position: absolute;
  top: 80px;
  left: 30%;

}

.input-width {
  width: 300px !important;
  z-index: 7;
  position: absolute;
  bottom: 28px;
  left: 25px;
}

.charInput {
  border: 3px solid black;
  height: 30px;
}
.sliderContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.slider {
  width: 95%;
  cursor: pointer;
}

.fas {
  font-size: 20px;
}
